*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-margin-top: 110px;
}
html, body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    
}
#main{
    height: 100%;
    width: 100%;
    
}
#header{
    height: 15%;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 1;
}
#fakeheader{
    height: 15%;
    width: 100%;
}
#left{
    height: 100%;
    width: 30%;
    background-color: rgb(244, 244, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#right{
    height: 100%;
    width: 70%;
    background-color: rgb(7, 7, 119);
    color: white;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 30px;
    
}

#right p{
    font-size: 20px;
    padding-bottom: 20px;
    padding-right: 25px;
    
}
#right a{
    text-decoration: none;
    color: white;
}
#right a:hover{
    color:rgb(244, 244, 12);
}
#bgcimg{
    height: 1000px;
    width: 100%;
    background-image: url(https://static.wixstatic.com/media/11062b_4f14b356c1df4854968cf1cc94ca98c5f000.jpg/v1/fill/w_1822,h_861,al_c,q_85,usm_0.33_1.00_0.00,enc_avif,quality_auto/11062b_4f14b356c1df4854968cf1cc94ca98c5f000.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    text-align: center;
    background-attachment: fixed;
}
#bgcimg h1{
    font-size: 60px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#service{
    padding-bottom: 40px;
    
}
#service h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    padding: 40px 0 5px;
}
#service hr{
    border: 0px solid  yellow; 
    width: 20%;
    padding-bottom: 10px;
    background-color: yellow;
    margin-left: 40%;
}
#serviceInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.box{
    height: 500px;
    width: 350px;
    background-color: rgb(247, 245, 245);
    
}
.serviceImg{
    width: 100%;
    height: 50%;
    object-fit: cover;

}
.serviceImg img{
    height: 100%;
    width: 100%;
}
.box h2{
    padding: 10px 10px;
}
.box p{
    padding: 0 5px;
}
#about{
    height: 720px;
    width: 100%;
    display: flex;
}
#aboutInfo{
    width: 50%;
    height: 100%;
    padding: 70px 60px 40px 210px;
    text-align: left;
    background-color: rgb(247, 245, 245);
}
#aboutInfo h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    padding-bottom: 5px;
}
#aboutInfo hr{
    border: 0px solid  yellow; 
    width: 50%;
    padding-bottom: 10px;
    background-color: yellow;
}
#aboutInfo p{
    padding-top: 50px;
    font-size: large;
}

#aboutImg{
    width: 50%;
    height: 100%;
    background-image: url(https://static.wixstatic.com/media/c19c76_427a7bbf62474f74968cb087499c7a3e.jpg/v1/fill/w_980,h_862,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/c19c76_427a7bbf62474f74968cb087499c7a3e.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#moreInfo{
    height: 200px;
    width: 100%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
}
span{
    font-size: 60px;
}
#project{
    padding: 60px 0;
}
#project h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    padding-bottom: 5px;
    text-align: center;
}
#project hr{
    border: 0px solid  yellow; 
    width: 20%;
    padding-bottom: 10px;
    background-color: yellow;
    margin-left: 40%;
}

.images{
    
    height: 400px;
    width: 100%;
    padding: 30px 0 30px;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.projectImg{
    height: 100%;
    width: 300px;
    background-color: rgb(78, 52, 5);
    object-fit: cover;
    overflow: hidden;
    
}
.projectImg img{
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease;
}
.projectImg:hover{
    opacity: 0.5;   
}
.projectImg img:hover{
    transform: scale(1.2);
}
#clients{
    background-color: rgb(246, 243, 243);
}
#clients h1{
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    padding-bottom: 5px;
    text-align: center;
}
#clients hr{
    border: 0px solid  yellow; 
    width: 20%;
    padding-bottom: 10px;
    background-color: yellow;
    margin-left: 40%;
    margin-bottom: 20px;
}

#clientDetails{
    width: 100%;
    height: 220px; 
    display: flex;
    justify-content: center;
    padding-top: 45px;
    gap: 50px; 
    font-size: xx-large; 
}
#contact{
 
    width: 60%;
    margin: 0 20% 0 20%;
    height: 800px;
    padding: 40px 0;
    text-align: left;
}
#contact h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    padding-bottom: 5px;
    text-align: center;
}
#contact hr{
    border: 0px solid  yellow; 
    width: 30%;
    padding-bottom: 10px;
    background-color: yellow;
    margin-left: 35%;
    margin-bottom: 20px; 
}
#map{
    width: 100%;
    height: 360px;
    object-fit: cover;
    padding-bottom: 20px;
}
#map iframe{
    width: 100%;
    height: 100%;
}
#more{
    display: flex;
    width: 100%;
}
#leftt{
    width: 50%;
}
#leftt a{
    font-size: larger;
    color: rgb(191, 6, 6);
    font-weight: bold;  
}
#rightt{
    width: 50%;
    padding-left: 60px;
}
#rightt hr{
    border: 0px solid  yellow; 
    background-color: yellow; 
}
#contact h2{
    font-size: x-large;
}
#contact p{
    font-size: large;
}
@media(max-width:480px) {
    #main h1{font-size: 20px;}
    #main h2{ font-size: 18px;}
    #main h3{font-size: 16px;}
    #main p{font-size: 12px;
    line-height: 1.2;}
    #header{
        flex-direction: column;
        text-align: center;
    }  
    #left{
        width: 100%;
    }
    #right{
        flex-direction: column;
        flex-flow: wrap;
        align-items: center;
        width: 100%;
        gap: 2px;
        word-wrap: break-word;
    }
    #bgcimg{
        width: 100%;
    }
    #service{
        word-wrap: break-word;
        overflow: hidden;
        padding-left: 0%;
        padding-right: 0%;
    }
    #about{
        padding-left: 0;
        word-wrap: break-word;
        overflow: scroll;
    }
    #moreInfo{
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
    }
    span{
        font-size: 22px;
    }
    #aboutInfo{
        padding: 0%;
    }
    #project{
        padding-left: 0%;
        padding-right: 0%;
    }
    #clientDetails{
        gap: 20px;
        flex-direction: column;
        flex-flow: wrap;
    }
    #contact{
        word-wrap: break-word;
    }
    
}
@media(max-width:768px){
    
        #main h1{font-size: 22px;}
        #main h2{font-size: 20px;}
        #main h2{font-size: 18px;}
        #main p{font-size: 14px;
        line-height: 1.4;}
        #header{
        flex-direction: column;
        text-align: center;
    } 
        #left{
            width: 100%;
        }
        #right{
        
        align-items: center;
        width: 100%;
        gap: 2px;
        word-wrap: break-word;
        flex-direction: column;
        flex-flow: wrap;
    }
    #service{
        word-wrap: break-word;
        overflow: scroll;
        padding-left: 0%;
        padding-right: 0%;
    }
    #about{
        padding-left: 0;
        word-wrap: break-word;
        overflow: hidden;
    }
    #moreInfo{
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
    }
    span{
        font-size: 24px;
    }
    #aboutInfo{
        padding: 0%;
    }
    #project{
        padding-left: 0%;
        padding-right: 0%;
    }
    #clientDetails{
        gap: 20px;
        flex-direction: column;
        flex-flow: wrap;
    }
    #contact{
        word-wrap: break-word;
        
    }
}